/*Ici, je rédige la feuille de style pour mettre en forme le fichier service.html*/
div{
    color:black; /*color:c'est la partie du propriété:black et la valeur */
   
    /*background-color: arrière plan-en couleur vas surligner les phrase qui se trouve dans le paragraphe*/
    background-color:rgb(137, 226, 43);
}

#solid{
    border:solid;
}

#double{
    border:double;
}

#dotted{
    border:dotted;
}

#dashed{
    border: dashed;
}


/*Je mets en forme */

div{
  width: 250px;  
  border: solid;
  color:red;
  border-radius:25px 20px 45px 45px
}

p{
  color:blue;
}

#div1{
  width: 150px; /*change la taille et la réduit*/  
  border: double;
  color: green;
  border-radius:25px 20px 45px
}

#p1{
  color:black;
}

#div2{
  width: 120px;  
  border: dotted;
  color: blueviolet;
  border-radius:35px 20px 15px
}

#p2{
  color:black;
}