/*Ici, je rédige la feuille de style pour mettre en forme le fichier service.html*/
div{
    color:black; /*color:c'est la partie du propriété:black et la valeur */
   
    /*background-color: arrière plan-en couleur vas surligner les phrase qui se trouve dans le paragraphe*/
    background-color:rgb(137, 226, 43);
}

#solid{
    border:solid;
}

#double{
    border:double;
}

#dotted{
    border:dotted;
}

#dashed{
    border: dashed;
}


/*Je sélectionne ma premier balise <div> grace à son identifiant div */
div{  
  width: 250px;  
  border: solid;
  color:red;
  border-radius:25px 20px 45px 45px;
}

p{
  color:blue;
}
/*Je sélectionne ma premier balise <div> grace à son identifiant div1 */
/*le # permet de identifier */
div{
    width: 300px;
    height: 250px;
}
#div1{
  width: 150px; /*change la taille et la réduit*/  
  border: double;
  height: 150px;
  color: green;
  border-radius:25px 20px 45px;
}

#p1{
  color:black;
}
/* Je sélectionne ma deuxième balise <div> grave à son identifiant div2*/
#div2{
  /*la hauteur */  
  height: 45px;
  /*width: veut dire la largeur*/  
  width: 120px; 
  /* la bordure est pointillée, de couleur rouge et 4px d'épaisseur*/ 
  border: dotted;
  color: blueviolet;
  border-radius:35px 20px 15px;
  /* le text est aligné au centre*/  
  
}

#p2{
  color:black;
}

#div3{
  color: rgb(215, 197, 197);  
  background-color: #32156e; 
  background:linear-gradient(115deg,#6714b0,#99199d,#f40b9b); 
  border-radius: 30% 70% 70% 30% / 30% 58% 42% 70% ;  
}

#div4{
  border: solid;  
  color: lightseagreen;
  background: darkturquoise;
  border-radius: 8px 8px 8px 8px ;
  box-shadow: 6px 6px 0px rgba(0,0,0);



}

